@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}

@section header{
    <p>Bu kodlar hemen hedaer'ın altına eklenecek </p>
}


@section footer{
    <p>Bu kodlar hemen footer'ın altına eklenecek</p>
}


<div>Bu sayfa Example Controller > Index sayfası</div>